<button ng-click="addClient()">Add Client</button><br>
<div class="client-list">
  <div ng-repeat="client in clients" class="client-list-item card">
    <button ng-click="addJob()">Add Job</button><br>
    <button ng-click="deleteClient()">Delete Client</button>
    {{client.name || "name"}}
    <ul>
      <li ng-repeat="job in client.jobs">
        {{job.name}}
        {{job.totalTime}}
        {{job.clockOn}}
        <button ng-click="startJob()" ng-hide="job.clockOn">Start</button>
        <button ng-click="stopJob()" ng-show="job.clockOn">Stop</button>
        <button ng-click="deleteJob()">Delete Job</button>
      </li>
    </ul>
  </div>
</div>