<!-- <div class="grid-frame modal-content" ng-show="$state.includes('main.addJob')">
  <div ui-view class="grid-block align-center">
  </div>
</div> -->

<div class="grid-content">
  <div class="client-list">
    <div ng-repeat="client in clients" class="client-list-item card-item">
      
      <div class="client-name-container">
        <h3 class="client-name">{{client.name || "name"}}</h3>
        <h4 class="client-total">{{ client.jobs | sumTotalFilter:'totalTime' | msToTimeFilter}}</h4>
      </div>
      <div>
        <!-- <button ng-click="addJob()" class="add-job-bttn">Add Job</button><br> -->
<!--         <button ng-click="inputToggle($index)" class="add-job-bttn" ng-hide="input[$index]">Add Job</button>
        <button ng-click="inputToggle($index)" class="add-job-bttn" ng-show="input[$index]">Cancel</button> -->

      </div>

      <div class="client-jobs-container">
        <section class="block-list">
          <header class="align-justify">Jobs 
            <a ng-click="inputToggle($index)" ng-hide="input[$index]" class="add-job-bttn">New +</a>
            <a ng-click="inputToggle($index)" ng-show="input[$index]" class="cancel-job-bttn">Cancel</a>
          </header>
          <ul>
            
            <!-- Add Job Form -->
            <form ng-submit="addJob(job.name)" ng-show="input[$index]">
              <input type="text" ng-model="job.name" name="{{client._id}}" placeholder="Enter Job Name"/>
              <submit></submit>
            </form> 

            <!-- Job List -->
            <li ng-repeat="job in client.jobs">
                <a href="">
                    <h4 class="job-name small-6">{{job.name}}</h4>
                    <h4 class="job-total small-3">{{job.totalTime | msToTimeFilter}}</h4>
                </a>
              <div class="timer-controls">
                <a ng-click="startJob()" ng-hide="job.clockOn">Start</a>
                <a ng-click="stopJob()" ng-show="job.clockOn">Stop</a>
              </div>
            </li>
          </ul>
        </section>


        <button ng-click="deleteClient()" class="flat warn">Delete Client</button>
      </div>
    </div>
  </div>
</div>
