@import "settings";
@import "foundation";

$light-bg: #eceef1;

// Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––

#timekard-logo {
  height: 1.5rem;
}

$title-bar-height: 3rem;
.title-bar {
  height: $title-bar-height;
  padding: 0 1rem;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $gray-light;
}

.main-content {
  margin-top: 1em;
}
// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––

button {
  margin: 1px;
  border: none;
  border-radius: 3px;
  padding: .6rem 1em;
  min-width: 4rem;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
}

button.raised, button.nav-bttn {
  background-color: $primary-color;
  color: $white;
}

button.raised:hover, button.nav-bttn:hover {
  background-color: #1565C0;
}

button.flat {
  background-color: transparent;
  color: $gray;
  width: inherit;
  margin: 0;
  padding: 0;
}

button.outline {
  background-color: $white;
  color: $primary-color;
  border: 1px solid #1976D2;
}

button.outline:hover {
  background-color: $primary-color;
  color: $white;
  border: 1px solid #1976D2;
}

button.outline.warn:hover {
  color: $white;
  border-color: $warning-color;
  background-color: $warning-color;
}

.add-job-bttn {
  float: right;
  margin-right: 1em;
  background-color: $white;
  color: $primary-color;
}

.add-job-bttn.disabled, .add-job-bttn.disabled:hover {
  color: $gray;
}
  
.add-job-bttn:hover {
  color: $primary-color;
}

button.cancel-job-bttn {
  color: $gray;
}

button.cancel-job-bttn:hover {
  color: $warning-color;
}

button.warn {
  color: $gray-medium-dark;
  border-color: $gray-medium-dark;
}

.warn:hover {
  color: $warning-color;
}



// Modal
// ––––––––––––––––––––––––––––––––––––––––––––––––

.modal-content {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
  width: 100%;
  margin-top: -1em;
  padding-top: 1em;
}

// Cards
// ––––––––––––––––––––––––––––––––––––––––––––––––

.card-item {
    background: $white;
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    // margin-bottom: 0.5rem;
    padding: 1em;
    height: 100%;
    padding-bottom: 1em;
    // border-radius: 2px; //This is causing a bug in Chrome with scrolling.
}

.client-list-item.card-item {
  padding: 0;
}

.client-list{
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space : nowrap;
}

.client-list-item {
  margin-right: 1em;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  max-height: calc(100vh - #{$title-bar-height} - 3em);
  width: 23em;
}


.client-list-item ul {
  margin: 0;
}

.client-list-item li {
  list-style: none;
}

.client-name-container {
  background-color: $cool-gray;
  width: 100%;
  padding: 1rem 2rem;
  display: inline-flex;
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

h3.client-name, h4.client-total {
  width: 50%;
}

h1, h2, h3, h4, h5, h6, p {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

h4.client-total {
  font-size: $h3-font-size; 
  font-weight: $font-weight-light;
  color: $white;
  text-align: right;
}

h4.job-name {
  font-weight: $font-weight-normal;
}

h4.job-total {
  font-weight: $font-weight-light;
}

.client-jobs-container {
    padding: 2rem;
}

// li.job {
//   border-bottom: 1px solid #000;
//   display: flex;
// }

.block-list ul {
  border-top: $blocklist-item-border;
}

.block-list li {
  margin: .5em 1em;
  padding-bottom: .5em;}

.job-content {
  // width: 50%;
  display: inline-block;
}

.form-controls {
  border-bottom: $blocklist-item-border;
  padding: 1em 0;
}

.right {
  float: right;
  text-align: right;
}
// Action Sheet
// ––––––––––––––––––––––––––––––––––––––––––––––––

// This is the wrapper for your button and action sheet
// Cards
// ––––––––––––––––––––––––––––––––––––––––––––––––
.action-sheet-container {
  position: initial;
  display: inline;
}

.user-form {
  max-width: 30em;
}



