@import "settings";
@import "foundation";

// Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––

#timekard-logo {
  height: 1.5rem;
}

$title-bar-height: 3rem;
.title-bar {
  height: $title-bar-height;
  padding: 0 1rem;
}

// .grid-content {
//   height: calc(100vh - #{$title-bar-height});
// }

// Cards
// ––––––––––––––––––––––––––––––––––––––––––––––––

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #eceef1;
}
.client-list{
  margin: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space : nowrap;
}

.client-list-item {
  margin-right: 1em;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  max-height: 500px;
  max-height: calc(100vh - #{$title-bar-height} - 3em);
  width: 25em;
  background-color: #FFFFFF;
}

.card {

}